In [ ]:
!pip install -r "/content/drive/MyDrive/Colab Notebooks/LEVX_1km/requirements.txt"

In [ ]:
!pip install lazypredict

In [3]:
import plotly.express as px
import pandas as pd
import numpy as np
coor=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/distan_lat42.22lon-8.63p2R1Km.csv")
px.set_mapbox_access_token("pk.eyJ1IjoiZ3JhbmFudHVpbiIsImEiOiJja3B4dGU4OTkwMTFmMm9ycnNhMjJvaGJqIn0.VWzx_PkD9A5cSUVsn_ijCA")
px.scatter_mapbox(coor, hover_data=['distance'],lat='lat', lon='lon',color='distance', title="Nearest points",
                           color_continuous_scale=px.colors.cyclical.IceFire,)

In [4]:
import pandas as pd
station = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/LEVX_20192020.csv",
                          usecols = ["time","temp_o"],
                          parse_dates=["time"]).set_index("time")
station["temp_o"].describe()

count    41305.000000
mean       287.467008
std          5.499157
min        273.150000
25%        283.150000
50%        287.150000
75%        291.150001
max        310.149999
Name: temp_o, dtype: float64

**Forecast D0**

In [40]:
#forecast d0
model1k = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/lat42.22lon-8.63p2R1KmD0.csv",parse_dates=["time"]).drop(columns=["Unnamed: 0"]).set_index("time")
model1k

,dir0,snow_prec0,snowlevel0,mod0,wind_gust0,mslp0,temp0,rh0,visibility0,lhflx0,...,cape1,cin1,cfh1,cfl1,cfm1,cft1,HGT5001,HGT8501,T5001,T8501
time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 01:00:00,143.27,0.00,1801.36,0.79,1.47,103158.80,280.41,0.82,24135.00,6.72,...,0.00,0.00,0.00,0.00,0.00,0.00,5730.04,1595.62,253.86,283.28
2019-01-01 02:00:00,152.22,0.00,1766.04,1.44,2.65,103178.46,279.99,0.82,24135.00,6.39,...,0.00,0.00,0.00,0.00,0.00,0.00,5729.32,1597.06,253.85,282.84
2019-01-01 03:00:00,154.05,0.00,1728.20,1.30,2.41,103142.13,279.75,0.82,24135.00,6.18,...,0.00,0.00,0.00,0.00,0.00,0.00,5724.62,1593.63,253.88,282.38
2019-01-01 04:00:00,162.32,0.00,1716.66,1.24,2.29,103172.62,279.61,0.81,24135.00,6.56,...,0.00,0.00,0.00,0.00,0.00,0.00,5725.31,1596.24,253.81,282.20
2019-01-01 05:00:00,167.24,0.00,1718.68,0.79,1.46,103175.80,279.56,0.79,24135.00,7.13,...,0.00,0.00,0.00,0.00,0.00,0.00,5724.18,1596.26,253.82,282.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,316.12,0.00,800.84,5.40,10.24,101375.13,279.88,0.86,24050.56,28.91,...,22.75,-12.61,0.00,0.00,0.00,0.00,5360.76,1434.29,243.57,271.71
2020-12-31 20:00:00,318.49,0.00,708.54,4.33,8.75,101517.44,279.64,0.88,24048.22,21.36,...,34.25,-4.22,0.00,0.30,0.10,0.30,5362.56,1437.17,242.89,271.01
2020-12-31 21:00:00,314.30,0.00,763.03,3.52,6.37,101593.58,279.46,0.92,24056.22,13.62,...,30.62,-5.15,0.00,0.07,0.00,0.07,5366.01,1441.58,242.23,271.71
2020-12-31 22:00:00,265.42,0.00,740.64,1.70,4.24,101619.23,278.94,0.94,24081.90,3.01,...,7.69,-12.02,0.00,0.00,0.00,0.00,5367.47,1442.78,242.16,271.70
2020-12-31 23:00:00,257.05,0.00,694.19,1.48,5.63,101630.27,278.46,0.95,24086.11,1.27,...,31.73,-3.04,0.00,0.25,0.00,0.25,5368.19,1443.35,242.20,271.12

In [41]:
#concat station model
df_all1k = pd.concat([station,model1k],axis=1).dropna()
df_all1k

,temp_o,dir0,snow_prec0,snowlevel0,mod0,wind_gust0,mslp0,temp0,rh0,visibility0,...,cape1,cin1,cfh1,cfl1,cfm1,cft1,HGT5001,HGT8501,T5001,T8501
time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 01:00:00,280.15,143.27,0.00,1801.36,0.79,1.47,103158.80,280.41,0.82,24135.00,...,0.00,0.00,0.00,0.00,0.00,0.00,5730.04,1595.62,253.86,283.28
2019-01-01 02:00:00,280.15,152.22,0.00,1766.04,1.44,2.65,103178.46,279.99,0.82,24135.00,...,0.00,0.00,0.00,0.00,0.00,0.00,5729.32,1597.06,253.85,282.84
2019-01-01 03:00:00,280.15,154.05,0.00,1728.20,1.30,2.41,103142.13,279.75,0.82,24135.00,...,0.00,0.00,0.00,0.00,0.00,0.00,5724.62,1593.63,253.88,282.38
2019-01-01 04:00:00,280.15,162.32,0.00,1716.66,1.24,2.29,103172.62,279.61,0.81,24135.00,...,0.00,0.00,0.00,0.00,0.00,0.00,5725.31,1596.24,253.81,282.20
2019-01-01 05:00:00,279.15,167.24,0.00,1718.68,0.79,1.46,103175.80,279.56,0.79,24135.00,...,0.00,0.00,0.00,0.00,0.00,0.00,5724.18,1596.26,253.82,282.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24 19:00:00,280.15,9.24,0.00,1114.37,4.89,7.98,102750.49,280.36,0.85,24155.68,...,0.00,-0.00,0.00,0.00,0.00,0.00,5529.35,1529.66,248.54,273.54
2020-12-24 20:00:00,279.15,17.79,0.00,1115.07,5.16,10.98,102863.53,280.21,0.84,24115.42,...,0.00,0.00,0.00,0.00,0.00,0.00,5534.80,1534.44,248.25,273.50
2020-12-24 21:00:00,278.15,18.49,0.00,1114.71,4.30,9.64,102951.65,280.17,0.84,24082.58,...,0.00,-0.00,0.00,0.00,0.00,0.00,5545.42,1536.55,248.68,273.53
2020-12-24 22:00:00,278.15,17.79,0.00,1133.19,3.79,11.57,102865.98,279.89,0.85,24096.23,...,0.00,-0.00,0.00,0.00,0.00,0.00,5543.27,1539.95,248.78,273.80
2020-12-24 23:00:00,278.15,18.29,0.00,1172.77,4.77,10.57,102878.38,279.80,0.84,24178.74,...,0.00,0.00,0.00,0.00,0.00,0.00,5550.75,1533.94,249.28,274.18

**Point 0**

In [43]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

#MAE en m/s
MAE=round(mean_absolute_error(df_all1k["temp_o"]-273.15, df_all1k["temp0"]-273.15),1)
#MSE en m/s
MSE=round(mean_squared_error(df_all1k["temp_o"]-273.15, df_all1k["temp0"]-273.15),1)
#R2
R2=round(r2_score(df_all1k["temp_o"]-273.15, df_all1k["temp0"]-273.15),2)


df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
df_r

            MAE  MSE   R2
resultados 1.50 3.50 0.89

**Point 1**

In [44]:
#MAE en m/s
MAE=round(mean_absolute_error(df_all1k["temp_o"]-273.15, df_all1k["temp1"]-273.15),1)
#MSE en m/s
MSE=round(mean_squared_error(df_all1k["temp_o"]-273.15, df_all1k["temp1"]-273.15),1)
#R2
R2=round(r2_score(df_all1k["temp_o"]-273.15, df_all1k["temp1"]-273.15),2)


df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
df_r

            MAE  MSE   R2
resultados 1.60 3.90 0.88

In [45]:
df_all1k.columns
x_var = ['snowlevel0','temp0', 'rh0', 'visibility0','prec0', 'shflx0','cft0',
         'T5000', 'T8500', 'dir1','snowlevel1','temp1','rh1', 'visibility1',
         'prec1','swflx1', 'shflx1','cft1','T5001', 'T8501']

In [46]:
from sklearn.model_selection import train_test_split
import lazypredict
from lazypredict.Supervised import LazyRegressor

# X and Y
Y = round(df_all1k["temp_o"])-273
# X = df_all1k.iloc[:,1:]
X = df_all1k[x_var]

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, )


multiple_model = LazyRegressor(verbose =0, ignore_warnings = True,predictions=True)
models,predictions = multiple_model.fit(X_train,X_test,y_train,y_test)

 93%|█████████▎| 38/41 [04:14<00:14,  4.85s/it]

[11:02:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

100%|██████████| 41/41 [04:17<00:00,  6.28s/it]

In [47]:
models

                               Adjusted R-Squared  R-Squared  RMSE  Time Taken
Model
ExtraTreesRegressor                          0.95       0.95  1.20        5.58
LGBMRegressor                                0.95       0.95  1.23        0.55
HistGradientBoostingRegressor                0.95       0.95  1.24        2.47
RandomForestRegressor                        0.95       0.95  1.24       22.81
BaggingRegressor                             0.95       0.95  1.30        1.89
MLPRegressor                                 0.95       0.95  1.31       23.93
SVR                                          0.94       0.94  1.35       14.51
NuSVR                                        0.94       0.94  1.36       12.45
GradientBoostingRegressor                    0.94       0.94  1.37       11.47
XGBRegressor                                 0.94       0.94  1.37        1.82
KNeighborsRegressor                          0.93       0.93  1.45        1.29
TransformedTargetRegressor                   0.93       0.93  1.50        0.03
LinearRegression                             0.93       0.93  1.50        0.08
LassoLarsCV                                  0.93       0.93  1.50        0.35
RidgeCV                                      0.93       0.93  1.50        0.04
Ridge                                        0.93       0.93  1.50        0.03
BayesianRidge                                0.93       0.93  1.50        0.04
HuberRegressor                               0.93       0.93  1.50        1.01
LinearSVR                                    0.93       0.93  1.50        1.21
LassoCV                                      0.93       0.93  1.50        1.12
LassoLarsIC                                  0.93       0.93  1.50        0.09
SGDRegressor                                 0.93       0.93  1.51        0.09
OrthogonalMatchingPursuitCV                  0.93       0.93  1.51        0.08
ElasticNetCV                                 0.93       0.93  1.51        0.37
LarsCV                                       0.93       0.93  1.51        0.32
RANSACRegressor                              0.92       0.92  1.56        0.17
OrthogonalMatchingPursuit                    0.92       0.92  1.56        0.03
AdaBoostRegressor                            0.91       0.91  1.65        3.31
DecisionTreeRegressor                        0.90       0.90  1.75        0.37
ExtraTreeRegressor                           0.90       0.90  1.78        0.12
PassiveAggressiveRegressor                   0.89       0.89  1.86        0.12
Lasso                                        0.88       0.88  1.91        0.15
PoissonRegressor                             0.88       0.88  1.94        0.12
ElasticNet                                   0.86       0.86  2.10        0.04
TweedieRegressor                             0.84       0.84  2.22        0.04
GaussianProcessRegressor                     0.78       0.79  2.60      106.83
LassoLars                                   -0.01      -0.00  5.60        0.07
DummyRegressor                              -0.01      -0.00  5.60        0.03
Lars                                        -0.33      -0.32  6.44        0.10
KernelRidge                                 -5.88      -5.84 14.64       42.03

**LGBMRegressor**

In [48]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

MAE = round(mean_absolute_error(y_test, predictions.LGBMRegressor),1)
MSE = round(mean_squared_error(y_test, predictions.LGBMRegressor),1)
R2 = round(r2_score(y_test, predictions.LGBMRegressor),2)
df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
print(df_r)

            MAE  MSE   R2
resultados 0.90 1.50 0.95

**ExtraTreesRegressor**

In [49]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

MAE = round(mean_absolute_error(y_test, predictions.ExtraTreesRegressor),1)
MSE = round(mean_squared_error(y_test, predictions.ExtraTreesRegressor),1)
R2 = round(r2_score(y_test, predictions.ExtraTreesRegressor),2)
df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
print(df_r)

            MAE  MSE   R2
resultados 0.90 1.40 0.95

**lgbmregressor**

In [50]:
from sklearn.metrics import accuracy_score
from lightgbm.sklearn import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score



# X and Y
Y = df_all1k.temp_o
X = df_all1k.iloc[:,1:]

# loop random
acc=[]
for t in range (0,10):
  #split variables
  X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.15, )

  
  ml_model = LGBMRegressor().fit(X_train,y_train)
  y_pred = ml_model.predict(X_test)
  MAE = round(mean_absolute_error(y_test, y_pred),1)
  MSE = round(mean_squared_error(y_test, y_pred),1)
  R2 = round(r2_score(y_test, y_pred),2)
  df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
  print(df_r)

            MAE  MSE   R2
resultados 0.90 1.40 0.96
            MAE  MSE   R2
resultados 0.90 1.40 0.96
            MAE  MSE   R2
resultados 0.90 1.30 0.96
            MAE  MSE   R2
resultados 0.90 1.40 0.96
            MAE  MSE   R2
resultados 0.90 1.40 0.96
            MAE  MSE   R2
resultados 0.90 1.30 0.96
            MAE  MSE   R2
resultados 0.90 1.30 0.96
            MAE  MSE   R2
resultados 0.90 1.40 0.96
            MAE  MSE   R2
resultados 0.90 1.30 0.96
            MAE  MSE   R2
resultados 0.90 1.40 0.95

In [51]:
df_all1k["hour"] = df_all1k.index.hour
df_all1k["month"] = df_all1k.index.month
df_all1k["dayofyear"] = df_all1k.index.dayofyear
df_all1k["weekofyear"] = df_all1k.index.isocalendar().week.astype(int)

In [52]:
from sklearn.metrics import accuracy_score
from lightgbm.sklearn import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score



# X and Y
Y = df_all1k.temp_o
X = df_all1k.iloc[:,1:]

# loop random
acc=[]
for t in range (0,10):
  #split variables
  X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.15, )

  
  ml_model = LGBMRegressor().fit(X_train,y_train)
  y_pred = ml_model.predict(X_test)
  MAE = round(mean_absolute_error(y_test, y_pred),1)
  MSE = round(mean_squared_error(y_test, y_pred),1)
  R2 = round(r2_score(y_test, y_pred),2)
  df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
  print(df_r)

            MAE  MSE   R2
resultados 0.80 1.20 0.96
            MAE  MSE   R2
resultados 0.80 1.10 0.96
            MAE  MSE   R2
resultados 0.80 1.10 0.96
            MAE  MSE   R2
resultados 0.80 1.10 0.96
            MAE  MSE   R2
resultados 0.80 1.20 0.96
            MAE  MSE   R2
resultados 0.80 1.20 0.96
            MAE  MSE   R2
resultados 0.80 1.20 0.96
            MAE  MSE   R2
resultados 0.80 1.10 0.97
            MAE  MSE   R2
resultados 0.80 1.10 0.96
            MAE  MSE   R2
resultados 0.80 1.20 0.96

In [23]:
import pickle
from sklearn.pipeline import Pipeline

x_var = df_all1k.iloc[:,1:].columns
estimators = [('ml_model', ml_model)]
pipe = Pipeline(estimators)
print(pipe)
al_file={"x_var":x_var,"coor":coor,"pipe":pipe}
pickle.dump(al_file, open("temp_LEVX_1km_time_d0.al", 'wb'))

Pipeline(steps=[('ml_model', LGBMRegressor())])