In [ ]:
!pip install -r "/content/drive/MyDrive/Colab Notebooks/LEVX_1km/requirements.txt"

In [ ]:
!pip install lazypredict

In [20]:
import plotly.express as px
import pandas as pd
import numpy as np
coor=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/distan_lat42.22lon-8.63p2R1Km.csv")
px.set_mapbox_access_token("pk.eyJ1IjoiZ3JhbmFudHVpbiIsImEiOiJja3B4dGU4OTkwMTFmMm9ycnNhMjJvaGJqIn0.VWzx_PkD9A5cSUVsn_ijCA")
px.scatter_mapbox(coor, hover_data=['distance'],lat='lat', lon='lon',color='distance', title="Nearest points",
                           color_continuous_scale=px.colors.cyclical.IceFire,)

In [21]:
import pandas as pd
station = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/LEVX_20192020.csv",
                          usecols = ["time","temp_o"],
                          parse_dates=["time"]).set_index("time")
station["temp_o"].describe()

count    41305.000000
mean       287.467008
std          5.499157
min        273.150000
25%        283.150000
50%        287.150000
75%        291.150001
max        310.149999
Name: temp_o, dtype: float64

**Forecast D0**

In [22]:
#forecast d0
model1k = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/lat42.22lon-8.63p2R1KmD0.csv",parse_dates=["time"]).drop(columns=["Unnamed: 0"]).set_index("time")
model1k

,dir0,snow_prec0,snowlevel0,mod0,wind_gust0,mslp0,temp0,rh0,visibility0,lhflx0,...,cape1,cin1,cfh1,cfl1,cfm1,cft1,HGT5001,HGT8501,T5001,T8501
time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 01:00:00,143.268921,0.0,1801.360962,0.789023,1.467980,103158.796875,280.410004,0.823894,24135.000000,6.723936,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,5730.042969,1595.621948,253.857193,283.275238
2019-01-01 02:00:00,152.222214,0.0,1766.035156,1.437459,2.645142,103178.460938,279.987000,0.822755,24135.000000,6.389383,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,5729.319824,1597.058472,253.848557,282.842499
2019-01-01 03:00:00,154.053619,0.0,1728.199341,1.304144,2.414089,103142.132812,279.750885,0.820316,24135.000000,6.182112,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,5724.619141,1593.626953,253.876816,282.377808
2019-01-01 04:00:00,162.321548,0.0,1716.658325,1.242218,2.291945,103172.617188,279.614197,0.806320,24135.000000,6.556708,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,5725.305664,1596.243408,253.810440,282.195923
2019-01-01 05:00:00,167.243256,0.0,1718.675293,0.790160,1.460847,103175.796875,279.555634,0.787751,24135.000000,7.131637,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,5724.179199,1596.257935,253.821121,282.136566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,316.116913,0.0,800.844543,5.403949,10.236845,101375.132812,279.880554,0.861849,24050.560547,28.912556,...,22.750000,-12.612812,0.0,0.000000,0.0,0.000000,5360.758301,1434.292603,243.570251,271.706177
2020-12-31 20:00:00,318.488983,0.0,708.539551,4.331174,8.753118,101517.437500,279.643799,0.881646,24048.224609,21.361237,...,34.250000,-4.223125,0.0,0.300000,0.1,0.300000,5362.556641,1437.166504,242.893250,271.008636
2020-12-31 21:00:00,314.300262,0.0,763.025513,3.515929,6.365382,101593.578125,279.461945,0.917659,24056.218750,13.615123,...,30.620001,-5.149188,0.0,0.070246,0.0,0.070246,5366.014160,1441.580811,242.227005,271.706116
2020-12-31 22:00:00,265.415161,0.0,740.638245,1.696378,4.239533,101619.226562,278.935486,0.939100,24081.898438,3.006969,...,7.690000,-12.021188,0.0,0.000000,0.0,0.000000,5367.470215,1442.777710,242.155319,271.697449
2020-12-31 23:00:00,257.051941,0.0,694.188110,1.480801,5.633486,101630.265625,278.464508,0.951564,24086.105469,1.273715,...,31.730000,-3.038938,0.0,0.246407,0.0,0.246407,5368.193359,1443.350342,242.199753,271.120300

In [23]:
#concat station model
df_all1k = pd.concat([station,model1k],axis=1).dropna()
df_all1k

,temp_o,dir0,snow_prec0,snowlevel0,mod0,wind_gust0,mslp0,temp0,rh0,visibility0,...,cape1,cin1,cfh1,cfl1,cfm1,cft1,HGT5001,HGT8501,T5001,T8501
time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 01:00:00,280.149999,143.268921,0.0,1801.360962,0.789023,1.467980,103158.796875,280.410004,0.823894,24135.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,5730.042969,1595.621948,253.857193,283.275238
2019-01-01 02:00:00,280.149999,152.222214,0.0,1766.035156,1.437459,2.645142,103178.460938,279.987000,0.822755,24135.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,5729.319824,1597.058472,253.848557,282.842499
2019-01-01 03:00:00,280.149999,154.053619,0.0,1728.199341,1.304144,2.414089,103142.132812,279.750885,0.820316,24135.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,5724.619141,1593.626953,253.876816,282.377808
2019-01-01 04:00:00,280.149999,162.321548,0.0,1716.658325,1.242218,2.291945,103172.617188,279.614197,0.806320,24135.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,5725.305664,1596.243408,253.810440,282.195923
2019-01-01 05:00:00,279.150000,167.243256,0.0,1718.675293,0.790160,1.460847,103175.796875,279.555634,0.787751,24135.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,5724.179199,1596.257935,253.821121,282.136566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24 19:00:00,280.149999,9.241409,0.0,1114.372070,4.894399,7.983289,102750.492188,280.356812,0.850322,24155.681641,...,0.0,-0.000438,0.0,0.0,0.0,0.0,5529.350586,1529.656250,248.538376,273.540680
2020-12-24 20:00:00,279.150000,17.789364,0.0,1115.066650,5.159622,10.980127,102863.531250,280.214874,0.837604,24115.419922,...,0.0,0.000359,0.0,0.0,0.0,0.0,5534.803223,1534.443115,248.254623,273.497437
2020-12-24 21:00:00,278.150000,18.492819,0.0,1114.713379,4.304277,9.638730,102951.648438,280.168427,0.838092,24082.583984,...,0.0,-0.000215,0.0,0.0,0.0,0.0,5545.419434,1536.551025,248.680069,273.530487
2020-12-24 22:00:00,278.150000,17.792942,0.0,1133.193481,3.793336,11.571742,102865.984375,279.890320,0.851702,24096.234375,...,0.0,-0.000211,0.0,0.0,0.0,0.0,5543.265625,1539.952026,248.775055,273.804199
2020-12-24 23:00:00,278.150000,18.285755,0.0,1172.772461,4.766307,10.565475,102878.382812,279.801758,0.843732,24178.738281,...,0.0,0.000289,0.0,0.0,0.0,0.0,5550.753418,1533.942505,249.275620,274.178070

**Meteorological model score (MAE)**

**Point 0**

In [24]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

#MAE en m/s
MAE=round(mean_absolute_error(df_all1k["temp_o"], df_all1k["temp0"]),2)
#MSE en m/s
MSE=round(mean_squared_error(df_all1k["temp_o"], df_all1k["temp0"]),2)
#R2
R2=round(r2_score(df_all1k["temp_o"], df_all1k["temp0"]),2)


df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["results"]);
df_r

          MAE   MSE    R2
results  1.45  3.51  0.89

In [26]:
#MAE in 20 samples
concat = df_all1k[["temp_o","temp0"]]
MAE_met = []

for t in range (0,20):
  #sample lenght as y_test machine learning
  concat_t = concat.sample(3294)
  MAE_met.append(round(mean_absolute_error(concat_t["temp_o"], concat_t["temp0"]),2))
  
print(pd.DataFrame(MAE_met,columns=["MAE"]).describe()) 
print("\nMAE list:") 
MAE0 = np.around(MAE_met, decimals=2)
MAE0

             MAE
count  20.000000
mean    1.456000
std     0.019574
min     1.430000
25%     1.447500
50%     1.455000
75%     1.462500
max     1.500000

MAE list:

array([1.46, 1.45, 1.43, 1.47, 1.49, 1.46, 1.43, 1.43, 1.43, 1.48, 1.46,
       1.5 , 1.47, 1.45, 1.46, 1.45, 1.45, 1.44, 1.45, 1.46])

**Meteorological model point 1**

In [29]:
#MAE en m/s
MAE=round(mean_absolute_error(df_all1k["temp_o"], df_all1k["temp1"]),2)
#MSE en m/s
MSE=round(mean_squared_error(df_all1k["temp_o"], df_all1k["temp1"]),2)
#R2
R2=round(r2_score(df_all1k["temp_o"], df_all1k["temp0"]),2)


df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["results"]);
df_r

          MAE   MSE    R2
results  1.55  3.85  0.89

In [30]:
#MAE in 20 samples
concat = df_all1k[["temp_o","temp1"]]
MAE_met = []

for t in range (0,20):
  #sample lenght as y_test machine learning
  concat_t = concat.sample(3294)
  MAE_met.append(round(mean_absolute_error(concat_t["temp_o"], concat_t["temp1"]),2))
  
print(pd.DataFrame(MAE_met,columns=["MAE"]).describe()) 
print("\nMAE list:") 
MAE1 = np.around(MAE_met, decimals=2)
MAE1

             MAE
count  20.000000
mean    1.557500
std     0.020743
min     1.530000
25%     1.547500
50%     1.555000
75%     1.562500
max     1.610000

MAE list:

array([1.58, 1.56, 1.55, 1.55, 1.54, 1.55, 1.57, 1.55, 1.56, 1.56, 1.58,
       1.53, 1.53, 1.53, 1.56, 1.55, 1.56, 1.54, 1.59, 1.61])

**Compare point 0 vs 1 (Mean Abssolute Error t test)**

In [31]:
import scipy.stats as stats


#Null Hypothesis H0 mean1=mean2

_,p_value=stats.ttest_ind(MAE0,MAE1,equal_var= True)

print("p_value:",p_value)
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print("we are rejecting null hypothesis  H0 mean1=mean2")
else:
    print("we are accepting null hypothesis  H0 mean1=mean2")

p_value: 2.1436708819857044e-18
we are rejecting null hypothesis  H0 mean1=mean2

In [ ]:
df_all1k.columns
x_var = ['snowlevel0','temp0', 'rh0', 'visibility0','prec0', 'shflx0','cft0',
         'T5000', 'T8500', 'dir1','snowlevel1','temp1','rh1', 'visibility1',
         'prec1','swflx1', 'shflx1','cft1','T5001', 'T8501']

**Find ML algorithm**

In [ ]:
from sklearn.model_selection import train_test_split
import lazypredict
from lazypredict.Supervised import LazyRegressor

# X and Y
Y = round(df_all1k["temp_o"])-273
# X = df_all1k.iloc[:,1:]
X = df_all1k[x_var]

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, )


multiple_model = LazyRegressor(verbose =0, ignore_warnings = True,predictions=True)
models,predictions = multiple_model.fit(X_train,X_test,y_train,y_test)

 93%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž| 38/41 [04:14<00:14,  4.85s/it]

[11:02:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 41/41 [04:17<00:00,  6.28s/it]

In [ ]:
models

                               Adjusted R-Squared  R-Squared  RMSE  Time Taken
Model
ExtraTreesRegressor                          0.95       0.95  1.20        5.58
LGBMRegressor                                0.95       0.95  1.23        0.55
HistGradientBoostingRegressor                0.95       0.95  1.24        2.47
RandomForestRegressor                        0.95       0.95  1.24       22.81
BaggingRegressor                             0.95       0.95  1.30        1.89
MLPRegressor                                 0.95       0.95  1.31       23.93
SVR                                          0.94       0.94  1.35       14.51
NuSVR                                        0.94       0.94  1.36       12.45
GradientBoostingRegressor                    0.94       0.94  1.37       11.47
XGBRegressor                                 0.94       0.94  1.37        1.82
KNeighborsRegressor                          0.93       0.93  1.45        1.29
TransformedTargetRegressor                   0.93       0.93  1.50        0.03
LinearRegression                             0.93       0.93  1.50        0.08
LassoLarsCV                                  0.93       0.93  1.50        0.35
RidgeCV                                      0.93       0.93  1.50        0.04
Ridge                                        0.93       0.93  1.50        0.03
BayesianRidge                                0.93       0.93  1.50        0.04
HuberRegressor                               0.93       0.93  1.50        1.01
LinearSVR                                    0.93       0.93  1.50        1.21
LassoCV                                      0.93       0.93  1.50        1.12
LassoLarsIC                                  0.93       0.93  1.50        0.09
SGDRegressor                                 0.93       0.93  1.51        0.09
OrthogonalMatchingPursuitCV                  0.93       0.93  1.51        0.08
ElasticNetCV                                 0.93       0.93  1.51        0.37
LarsCV                                       0.93       0.93  1.51        0.32
RANSACRegressor                              0.92       0.92  1.56        0.17
OrthogonalMatchingPursuit                    0.92       0.92  1.56        0.03
AdaBoostRegressor                            0.91       0.91  1.65        3.31
DecisionTreeRegressor                        0.90       0.90  1.75        0.37
ExtraTreeRegressor                           0.90       0.90  1.78        0.12
PassiveAggressiveRegressor                   0.89       0.89  1.86        0.12
Lasso                                        0.88       0.88  1.91        0.15
PoissonRegressor                             0.88       0.88  1.94        0.12
ElasticNet                                   0.86       0.86  2.10        0.04
TweedieRegressor                             0.84       0.84  2.22        0.04
GaussianProcessRegressor                     0.78       0.79  2.60      106.83
LassoLars                                   -0.01      -0.00  5.60        0.07
DummyRegressor                              -0.01      -0.00  5.60        0.03
Lars                                        -0.33      -0.32  6.44        0.10
KernelRidge                                 -5.88      -5.84 14.64       42.03

**LGBMRegressor**

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

MAE = round(mean_absolute_error(y_test, predictions.LGBMRegressor),1)
MSE = round(mean_squared_error(y_test, predictions.LGBMRegressor),1)
R2 = round(r2_score(y_test, predictions.LGBMRegressor),2)
df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
print(df_r)

            MAE  MSE   R2
resultados 0.90 1.50 0.95

**ExtraTreesRegressor**

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

MAE = round(mean_absolute_error(y_test, predictions.ExtraTreesRegressor),1)
MSE = round(mean_squared_error(y_test, predictions.ExtraTreesRegressor),1)
R2 = round(r2_score(y_test, predictions.ExtraTreesRegressor),2)
df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
print(df_r)

            MAE  MSE   R2
resultados 0.90 1.40 0.95

**lgbmregressor ML algorithm selected**

In [32]:
from sklearn.metrics import accuracy_score
from lightgbm.sklearn import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score



# X and Y
Y = df_all1k.temp_o
X = df_all1k.iloc[:,1:]

# loop random
MAE_ml =[]
for t in range (0,20):
  #split variables
  X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.15, )

  
  ml_model = LGBMRegressor().fit(X_train,y_train)
  y_pred = ml_model.predict(X_test)
  MAE = round(mean_absolute_error(y_test, y_pred),2)
  MAE_ml.append(MAE)
  MSE = round(mean_squared_error(y_test, y_pred),2)
  R2 = round(r2_score(y_test, y_pred),2)
  df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["results"]);
  print(df_r)

print(pd.DataFrame(MAE_ml,columns=["MAE_ml"]).describe())
MAE_ml

          MAE   MSE    R2
results  0.89  1.37  0.96
          MAE   MSE    R2
results  0.89  1.35  0.96
         MAE   MSE    R2
results  0.9  1.38  0.96
          MAE   MSE    R2
results  0.88  1.35  0.96
          MAE   MSE    R2
results  0.87  1.25  0.96
          MAE   MSE    R2
results  0.89  1.31  0.96
         MAE   MSE    R2
results  0.9  1.35  0.96
          MAE   MSE    R2
results  0.89  1.34  0.96
          MAE   MSE    R2
results  0.92  1.46  0.95
          MAE   MSE    R2
results  0.89  1.35  0.96
          MAE   MSE    R2
results  0.89  1.33  0.96
          MAE   MSE    R2
results  0.89  1.37  0.95
          MAE   MSE    R2
results  0.88  1.34  0.96
          MAE   MSE    R2
results  0.92  1.44  0.95
          MAE   MSE    R2
results  0.89  1.34  0.96
          MAE   MSE    R2
results  0.93  1.42  0.95
          MAE   MSE    R2
results  0.89  1.37  0.96
          MAE   MSE    R2
results  0.88  1.26  0.96
         MAE   MSE    R2
results  0.9  1.39  0.96
         MAE   MSE    R2
results  0.9  1.36  0.96
          MAE_ml
count  20.000000
mean    0.894500
std     0.014681
min     0.870000
25%     0.890000
50%     0.890000
75%     0.900000
max     0.930000

[0.89,
 0.89,
 0.9,
 0.88,
 0.87,
 0.89,
 0.9,
 0.89,
 0.92,
 0.89,
 0.89,
 0.89,
 0.88,
 0.92,
 0.89,
 0.93,
 0.89,
 0.88,
 0.9,
 0.9]

**Compare machine learning vs meteorological model point o (t test)**

In [33]:
import scipy.stats as stats

#Null Hypothesis H0 mean1=mean2

_,p_value=stats.ttest_ind(MAE0,MAE_ml,equal_var= True)

print("p_value:",p_value)
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print("we are rejecting null hypothesis  H0 mean1=mean2")
else:
    print("we are accepting null hypothesis  H0 mean1=mean2")

p_value: 4.6558918350614093e-48
we are rejecting null hypothesis  H0 mean1=mean2

**Add time variables**

In [34]:
df_all1k["hour"] = df_all1k.index.hour
df_all1k["month"] = df_all1k.index.month
df_all1k["dayofyear"] = df_all1k.index.dayofyear
df_all1k["weekofyear"] = df_all1k.index.isocalendar().week.astype(int)

In [35]:
#train new model
from sklearn.metrics import accuracy_score
from lightgbm.sklearn import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score



# X and Y
Y = df_all1k.temp_o
X = df_all1k.iloc[:,1:]

# loop random
MAE_t = []
for t in range (0,20):
  #split variables
  X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.15, )

  
  ml_model = LGBMRegressor().fit(X_train,y_train)
  y_pred = ml_model.predict(X_test)
  MAE = round(mean_absolute_error(y_test, y_pred),2)
  MAE_t.append(MAE)
  MSE = round(mean_squared_error(y_test, y_pred),2)
  R2 = round(r2_score(y_test, y_pred),2)
  df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["results"]);
  print(df_r)


print(pd.DataFrame(MAE_t,columns=["MAE_ml"]).describe())
MAE_t

          MAE   MSE    R2
results  0.83  1.13  0.96
          MAE  MSE    R2
results  0.81  1.1  0.96
          MAE   MSE    R2
results  0.83  1.15  0.96
          MAE   MSE    R2
results  0.82  1.13  0.96
          MAE   MSE    R2
results  0.83  1.18  0.96
          MAE   MSE    R2
results  0.82  1.12  0.97
          MAE   MSE    R2
results  0.82  1.13  0.96
          MAE   MSE    R2
results  0.84  1.18  0.96
          MAE   MSE    R2
results  0.84  1.17  0.96
          MAE   MSE    R2
results  0.83  1.16  0.97
          MAE   MSE    R2
results  0.84  1.22  0.96
          MAE   MSE    R2
results  0.83  1.19  0.96
          MAE   MSE    R2
results  0.82  1.14  0.96
          MAE   MSE    R2
results  0.82  1.15  0.96
          MAE   MSE    R2
results  0.83  1.13  0.96
          MAE   MSE    R2
results  0.83  1.15  0.96
          MAE   MSE    R2
results  0.85  1.24  0.96
          MAE   MSE    R2
results  0.83  1.16  0.96
          MAE   MSE    R2
results  0.82  1.16  0.96
          MAE   MSE    R2
results  0.81  1.13  0.96
          MAE_ml
count  20.000000
mean    0.827500
std     0.010195
min     0.810000
25%     0.820000
50%     0.830000
75%     0.830000
max     0.850000

[0.83,
 0.81,
 0.83,
 0.82,
 0.83,
 0.82,
 0.82,
 0.84,
 0.84,
 0.83,
 0.84,
 0.83,
 0.82,
 0.82,
 0.83,
 0.83,
 0.85,
 0.83,
 0.82,
 0.81]

**Test ML algorithm with and without time features**

In [36]:
#Null Hypothesis H0 mean1=mean2

_,p_value=stats.ttest_ind(MAE_t,MAE_ml,equal_var= True)

print("p_value:",p_value)
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print("we are rejecting null hypothesis  H0 mean1=mean2")
else:
    print("we are accepting null hypothesis  H0 mean1=mean2")

p_value: 3.788792862291532e-19
we are rejecting null hypothesis  H0 mean1=mean2

**Save algorithm**

In [ ]:
import pickle
from sklearn.pipeline import Pipeline

x_var = df_all1k.iloc[:,1:].columns
estimators = [('ml_model', ml_model)]
pipe = Pipeline(estimators)
print(pipe)
al_file={"x_var":x_var,"coor":coor,"pipe":pipe}
pickle.dump(al_file, open("temp_LEVX_1km_time_d0.al", 'wb'))

Pipeline(steps=[('ml_model', LGBMRegressor())])