In [ ]:
!pip install -r "/content/drive/MyDrive/Colab Notebooks/LEVX_1km/requirements.txt"

In [ ]:
!pip install lazypredict

In [3]:
import plotly.express as px
import pandas as pd
import numpy as np
coor=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/distan_lat42.22lon-8.63p2R1Km.csv")
px.set_mapbox_access_token("pk.eyJ1IjoiZ3JhbmFudHVpbiIsImEiOiJja3B4dGU4OTkwMTFmMm9ycnNhMjJvaGJqIn0.VWzx_PkD9A5cSUVsn_ijCA")
px.scatter_mapbox(coor, hover_data=['distance'],lat='lat', lon='lon',color='distance', title="Nearest points",
                           color_continuous_scale=px.colors.cyclical.IceFire,)

In [4]:
import pandas as pd
station = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/LEVX_20192020.csv",
                          usecols = ["time","temp_o"],
                          parse_dates=["time"]).set_index("time")
station["temp_o"].describe()

count    41305.000000
mean       287.467008
std          5.499157
min        273.150000
25%        283.150000
50%        287.150000
75%        291.150001
max        310.149999
Name: temp_o, dtype: float64

**Forecast D1**

In [5]:
#forecast d0
model1k = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LEVX_1km/input_files/lat42.22lon-8.63p2R1KmD1.csv",parse_dates=["time"]).drop(columns=["Unnamed: 0"]).set_index("time")
model1k

,dir0,snow_prec0,snowlevel0,mod0,wind_gust0,mslp0,temp0,rh0,visibility0,lhflx0,...,cape1,cin1,cfh1,cfl1,cfm1,cft1,HGT5001,HGT8501,T5001,T8501
time,,,,,,,,,,,,,,,,,,,,,
2019-01-02 00:00:00,325.189301,0.0,1740.084961,1.217145,2.264327,103401.195312,280.789246,0.781950,24135.000000,8.171858,...,0.000000,0.000000e+00,0.142531,0.000000,0.0,0.142531,5735.675293,1613.937378,253.634506,281.908569
2019-01-02 01:00:00,333.670044,0.0,1731.173340,1.369249,2.540694,103382.539062,280.565735,0.778615,24135.000000,8.045405,...,0.000000,0.000000e+00,0.112280,0.000000,0.0,0.112280,5732.622559,1611.490601,253.512878,281.793762
2019-01-02 02:00:00,351.552429,0.0,1721.331055,1.275996,2.367275,103355.875000,280.324890,0.790180,24135.000000,7.194441,...,0.000000,-8.593750e-07,0.061034,0.000000,0.0,0.061034,5730.169434,1609.190552,253.402405,281.787689
2019-01-02 03:00:00,33.307388,0.0,1717.657593,0.696653,1.317065,103329.765625,280.101318,0.786697,24135.000000,7.239085,...,0.000000,0.000000e+00,0.065096,0.000000,0.0,0.065096,5728.023926,1606.675903,253.443604,281.926819
2019-01-02 04:00:00,164.234100,0.0,1696.665771,0.224833,0.409460,103310.062500,279.779572,0.795685,24135.000000,6.878137,...,0.000000,-2.343750e-09,0.085678,0.000000,0.0,0.085678,5725.899414,1604.329346,253.527298,281.808014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-01 19:00:00,297.835388,0.0,766.453003,6.263795,12.470805,101635.929688,279.777435,0.867834,24042.130859,28.299652,...,99.540001,-7.467773e+00,0.000000,0.000000,0.0,0.000000,5371.030273,1446.678223,240.972382,271.724701
2021-01-01 20:00:00,305.522644,0.0,769.984497,5.884632,12.509005,101664.109375,279.636444,0.861618,24046.214844,27.654913,...,37.480000,-6.560820e+00,0.000000,0.077832,0.0,0.077832,5373.912109,1448.029297,241.139252,271.784821
2021-01-01 21:00:00,304.144806,0.0,787.868713,6.053614,12.777985,101677.812500,279.624115,0.851240,24053.814453,30.302912,...,25.900000,-1.712590e+01,0.000000,0.097343,0.0,0.097343,5376.250977,1449.369507,241.217819,271.922638
2021-01-01 22:00:00,293.481812,0.0,775.807739,5.027291,11.453683,101724.851562,279.420868,0.871182,24054.046875,20.717482,...,28.510000,-1.414797e+01,0.000000,0.000000,0.0,0.000000,5376.892578,1450.418823,241.432007,272.016235
2021-01-01 23:00:00,281.385010,0.0,760.383911,4.213167,5.528626,101712.367188,279.201630,0.894748,24052.125000,12.699367,...,24.139999,-2.841422e+01,0.000000,0.000000,0.0,0.000000,5376.931152,1449.955566,241.346619,272.104065

In [6]:
#concat station model
df_all1k = pd.concat([station,model1k],axis=1).dropna()
df_all1k

,temp_o,dir0,snow_prec0,snowlevel0,mod0,wind_gust0,mslp0,temp0,rh0,visibility0,...,cape1,cin1,cfh1,cfl1,cfm1,cft1,HGT5001,HGT8501,T5001,T8501
time,,,,,,,,,,,,,,,,,,,,,
2019-01-02 00:00:00,280.149999,325.189301,0.0,1740.084961,1.217145,2.264327,103401.195312,280.789246,0.781950,24135.000000,...,0.0,0.000000e+00,0.142531,0.0,0.0,0.142531,5735.675293,1613.937378,253.634506,281.908569
2019-01-02 02:00:00,278.150000,351.552429,0.0,1721.331055,1.275996,2.367275,103355.875000,280.324890,0.790180,24135.000000,...,0.0,-8.593750e-07,0.061034,0.0,0.0,0.061034,5730.169434,1609.190552,253.402405,281.787689
2019-01-02 03:00:00,278.150000,33.307388,0.0,1717.657593,0.696653,1.317065,103329.765625,280.101318,0.786697,24135.000000,...,0.0,0.000000e+00,0.065096,0.0,0.0,0.065096,5728.023926,1606.675903,253.443604,281.926819
2019-01-02 04:00:00,278.150000,164.234100,0.0,1696.665771,0.224833,0.409460,103310.062500,279.779572,0.795685,24135.000000,...,0.0,-2.343750e-09,0.085678,0.0,0.0,0.085678,5725.899414,1604.329346,253.527298,281.808014
2019-01-02 05:00:00,277.150000,172.277390,0.0,1675.816650,0.444178,0.813525,103278.773438,279.637054,0.811063,24135.000000,...,0.0,6.640625e-06,0.108834,0.0,0.0,0.108834,5723.016113,1601.333618,253.504395,281.562134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24 19:00:00,280.149999,15.196351,0.0,1130.906982,4.987753,11.324133,102787.117188,280.919373,0.870596,24152.253906,...,0.0,6.250000e-05,0.000000,0.0,0.0,0.000000,5537.417480,1531.997803,247.842743,273.755432
2020-12-24 20:00:00,279.150000,16.350925,0.0,1122.497314,5.154222,11.432768,102946.109375,280.681763,0.848550,24126.740234,...,0.0,-1.875000e-03,0.000000,0.0,0.0,0.000000,5535.646484,1534.440552,248.129868,273.678802
2020-12-24 21:00:00,278.150000,14.447461,0.0,1130.548462,5.296582,11.482006,102860.429688,280.298004,0.850470,24164.386719,...,0.0,1.171875e-03,0.000000,0.0,0.0,0.000000,5539.025391,1538.744385,248.260315,273.823364
2020-12-24 22:00:00,278.150000,15.328802,0.0,1128.692017,5.366167,12.464747,102966.789062,280.171631,0.833095,24135.302734,...,0.0,-1.757813e-04,0.000000,0.0,0.0,0.000000,5539.286621,1537.827148,248.395493,273.726318
2020-12-24 23:00:00,278.150000,15.208591,0.0,1093.965942,4.955793,12.716253,102887.390625,279.761444,0.840879,24121.224609,...,0.0,2.773438e-04,0.000000,0.0,0.0,0.000000,5539.104004,1536.389526,248.585815,273.282745

**Meteorological model score (MAE)**

**Point 0**

In [7]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

#MAE en m/s
MAE=round(mean_absolute_error(df_all1k["temp_o"], df_all1k["temp0"]),2)
#MSE en m/s
MSE=round(mean_squared_error(df_all1k["temp_o"], df_all1k["temp0"]),2)
#R2
R2=round(r2_score(df_all1k["temp_o"], df_all1k["temp0"]),2)


df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["results"]);
df_r

          MAE   MSE    R2
results  1.43  3.44  0.89

In [8]:
#MAE in 20 samples
concat = df_all1k[["temp_o","temp0"]]
MAE_met = []

for t in range (0,20):
  #sample lenght as y_test machine learning
  concat_t = concat.sample(3294)
  MAE_met.append(round(mean_absolute_error(concat_t["temp_o"], concat_t["temp0"]),2))
  
print(pd.DataFrame(MAE_met,columns=["MAE"]).describe()) 
print("\nMAE list:") 
MAE0 = np.around(MAE_met, decimals=2)
MAE0

             MAE
count  20.000000
mean    1.434500
std     0.015381
min     1.410000
25%     1.427500
50%     1.430000
75%     1.440000
max     1.470000

MAE list:

array([1.46, 1.47, 1.42, 1.44, 1.42, 1.43, 1.44, 1.44, 1.43, 1.45, 1.45,
       1.43, 1.44, 1.43, 1.42, 1.43, 1.41, 1.44, 1.43, 1.41])

**Compare MAE point 0 day 0 vs MAE pÃ²int 0 day 1**

In [10]:
import scipy.stats as stats


#MAE point 0 (day 0 mean=1.45 day 1 mean=1.434) better d1 than d0 !!
MAE0_d0 = np.array([1.46, 1.45, 1.43, 1.47, 1.49, 1.46, 1.43, 1.43, 1.43, 1.48, 1.46,
       1.5 , 1.47, 1.45, 1.46, 1.45, 1.45, 1.44, 1.45, 1.46])


#Null Hypothesis H0 mean1=mean2

_,p_value=stats.ttest_ind(MAE0,MAE0_d0,equal_var= False)

print("p_value:",p_value)
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print("we are rejecting null hypothesis  H0 mean1=mean2")
else:
    print("we are accepting null hypothesis  H0 mean1=mean2")

p_value: 0.00044982327379741147
we are rejecting null hypothesis  H0 mean1=mean2

**Meteorological model point 1**

In [11]:
#MAE en m/s
MAE=round(mean_absolute_error(df_all1k["temp_o"], df_all1k["temp1"]),2)
#MSE en m/s
MSE=round(mean_squared_error(df_all1k["temp_o"], df_all1k["temp1"]),2)
#R2
R2=round(r2_score(df_all1k["temp_o"], df_all1k["temp0"]),2)


df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["results"]);
df_r

          MAE   MSE    R2
results  1.51  3.75  0.89

In [12]:
#MAE in 20 samples
concat = df_all1k[["temp_o","temp1"]]
MAE_met = []

for t in range (0,20):
  #sample lenght as y_test machine learning
  concat_t = concat.sample(3294)
  MAE_met.append(round(mean_absolute_error(concat_t["temp_o"], concat_t["temp1"]),2))
  
print(pd.DataFrame(MAE_met,columns=["MAE"]).describe()) 
print("\nMAE list:") 
MAE1 = np.around(MAE_met, decimals=2)
MAE1

            MAE
count  20.00000
mean    1.50800
std     0.02353
min     1.46000
25%     1.49000
50%     1.51000
75%     1.53000
max     1.54000

MAE list:

array([1.52, 1.5 , 1.53, 1.54, 1.53, 1.5 , 1.52, 1.49, 1.53, 1.51, 1.46,
       1.54, 1.52, 1.49, 1.49, 1.53, 1.49, 1.46, 1.51, 1.5 ])

**Compare point 0 vs 1 (Mean Abssolute Error t test)**

In [13]:
import scipy.stats as stats


#Null Hypothesis H0 mean1=mean2

_,p_value=stats.ttest_ind(MAE0,MAE1,equal_var= True)

print("p_value:",p_value)
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print("we are rejecting null hypothesis  H0 mean1=mean2")
else:
    print("we are accepting null hypothesis  H0 mean1=mean2")

p_value: 3.7225640392911856e-14
we are rejecting null hypothesis  H0 mean1=mean2

**Find ML algorithm**

In [15]:
from sklearn.model_selection import train_test_split
import lazypredict
from lazypredict.Supervised import LazyRegressor

# X and Y
Y = round(df_all1k["temp_o"])-273
X = df_all1k.iloc[:,1:]
#X = df_all1k[x_var]

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, )


multiple_model = LazyRegressor(verbose =0, ignore_warnings = True,predictions=True)
models,predictions = multiple_model.fit(X_train,X_test,y_train,y_test)

 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 39/41 [03:27<00:08,  4.05s/it]

[09:43:56] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 41/41 [03:30<00:00,  5.14s/it]

In [16]:
models

,Adjusted R-Squared,R-Squared,RMSE,Time Taken
Model,,,,
ExtraTreesRegressor,0.96,0.96,1.17,10.46
LGBMRegressor,0.95,0.95,1.22,0.90
RandomForestRegressor,0.95,0.95,1.23,37.62
HistGradientBoostingRegressor,0.95,0.95,1.23,1.08
BaggingRegressor,0.94,0.94,1.31,4.40
SVR,0.94,0.94,1.39,12.00
GradientBoostingRegressor,0.94,0.94,1.39,16.43
XGBRegressor,0.94,0.94,1.39,2.67
NuSVR,0.94,0.94,1.40,10.09
LinearSVR,0.93,0.93,1.48,1.15
LassoCV,0.92,0.93,1.52,0.63
LassoLarsIC,0.92,0.93,1.52,0.07
HuberRegressor,0.92,0.92,1.52,1.07
ElasticNetCV,0.92,0.92,1.53,0.67
RidgeCV,0.92,0.92,1.53,0.06
LassoLarsCV,0.92,0.92,1.54,0.29
BayesianRidge,0.92,0.92,1.54,0.12
Ridge,0.92,0.92,1.54,0.04
TransformedTargetRegressor,0.92,0.92,1.55,0.06
LinearRegression,0.92,0.92,1.55,0.06
OrthogonalMatchingPursuit,0.92,0.92,1.55,0.04
OrthogonalMatchingPursuitCV,0.92,0.92,1.55,0.12
KNeighborsRegressor,0.92,0.92,1.55,0.97
LarsCV,0.92,0.92,1.61,0.36
AdaBoostRegressor,0.91,0.91,1.63,4.56
ExtraTreeRegressor,0.89,0.89,1.81,0.16
DecisionTreeRegressor,0.89,0.89,1.84,0.66
PoissonRegressor,0.88,0.89,1.88,0.15
Lasso,0.88,0.88,1.94,0.17
TweedieRegressor,0.86,0.86,2.05,0.05
ElasticNet,0.86,0.86,2.06,0.06
PassiveAggressiveRegressor,0.77,0.77,2.67,0.09
DummyRegressor,-0.02,-0.00,5.57,0.05
LassoLars,-0.02,-0.00,5.57,0.04
GaussianProcessRegressor,-0.91,-0.88,7.63,64.03
MLPRegressor,-3.84,-3.77,12.15,10.60
KernelRidge,-5.92,-5.82,14.53,28.05
RANSACRegressor,-6.38,-6.27,15.01,0.29
Lars,-131.67,-129.74,63.62,0.08
SGDRegressor,-158892199542.69,-156573959105.81,2201817.60,0.06

**LGBMRegressor**

In [17]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

MAE = round(mean_absolute_error(y_test, predictions.LGBMRegressor),1)
MSE = round(mean_squared_error(y_test, predictions.LGBMRegressor),1)
R2 = round(r2_score(y_test, predictions.LGBMRegressor),2)
df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
print(df_r)

            MAE  MSE   R2
resultados 1.00 1.50 0.95

**ExtraTreesRegressor**

In [18]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

MAE = round(mean_absolute_error(y_test, predictions.ExtraTreesRegressor),1)
MSE = round(mean_squared_error(y_test, predictions.ExtraTreesRegressor),1)
R2 = round(r2_score(y_test, predictions.ExtraTreesRegressor),2)
df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["resultados"]);
print(df_r)

            MAE  MSE   R2
resultados 0.90 1.40 0.96

**lgbmregressor ML algorithm selected**

In [19]:
from sklearn.metrics import accuracy_score
from lightgbm.sklearn import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score



# X and Y
Y = df_all1k.temp_o
X = df_all1k.iloc[:,1:]

# loop random
MAE_ml =[]
for t in range (0,20):
  #split variables
  X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.15, )

  
  ml_model = LGBMRegressor().fit(X_train,y_train)
  y_pred = ml_model.predict(X_test)
  MAE = round(mean_absolute_error(y_test, y_pred),2)
  MAE_ml.append(MAE)
  MSE = round(mean_squared_error(y_test, y_pred),2)
  R2 = round(r2_score(y_test, y_pred),2)
  df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["results"]);
  print(df_r)

print(pd.DataFrame(MAE_ml,columns=["MAE_ml"]).describe())
MAE_ml

         MAE  MSE   R2
results 0.99 1.69 0.95
         MAE  MSE   R2
results 0.96 1.54 0.95
         MAE  MSE   R2
results 0.97 1.62 0.95
         MAE  MSE   R2
results 0.96 1.55 0.95
         MAE  MSE   R2
results 0.95 1.55 0.95
         MAE  MSE   R2
results 1.02 1.76 0.94
         MAE  MSE   R2
results 0.97 1.62 0.95
         MAE  MSE   R2
results 0.96 1.58 0.95
         MAE  MSE   R2
results 0.98 1.65 0.95
         MAE  MSE   R2
results 0.98 1.66 0.95
         MAE  MSE   R2
results 0.95 1.53 0.95
         MAE  MSE   R2
results 0.99 1.70 0.94
         MAE  MSE   R2
results 0.99 1.68 0.95
         MAE  MSE   R2
results 0.94 1.52 0.95
         MAE  MSE   R2
results 0.96 1.56 0.95
         MAE  MSE   R2
results 0.98 1.66 0.95
         MAE  MSE   R2
results 0.95 1.54 0.95
         MAE  MSE   R2
results 0.96 1.57 0.95
         MAE  MSE   R2
results 0.95 1.51 0.95
         MAE  MSE   R2
results 0.97 1.60 0.95
       MAE_ml
count   20.00
mean     0.97
std      0.02
min      0.94
25%      0.96
50%      0.96
75%      0.98
max      1.02

[0.99,
 0.96,
 0.97,
 0.96,
 0.95,
 1.02,
 0.97,
 0.96,
 0.98,
 0.98,
 0.95,
 0.99,
 0.99,
 0.94,
 0.96,
 0.98,
 0.95,
 0.96,
 0.95,
 0.97]

**Compare machine learning vs meteorological model point o (t test)**

In [21]:
import scipy.stats as stats

#Null Hypothesis H0 mean1=mean2

_,p_value=stats.ttest_ind(MAE0,MAE_ml,equal_var= False)

print("p_value:",p_value)
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print("we are rejecting null hypothesis  H0 mean1=mean2")
else:
    print("we are accepting null hypothesis  H0 mean1=mean2")

p_value: 2.574221077182799e-43
we are rejecting null hypothesis  H0 mean1=mean2

**Add time variables**

In [22]:
df_all1k["hour"] = df_all1k.index.hour
df_all1k["month"] = df_all1k.index.month
df_all1k["dayofyear"] = df_all1k.index.dayofyear
df_all1k["weekofyear"] = df_all1k.index.isocalendar().week.astype(int)

In [23]:
#train new model
from sklearn.metrics import accuracy_score
from lightgbm.sklearn import LGBMRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score



# X and Y
Y = df_all1k.temp_o
X = df_all1k.iloc[:,1:]

# loop random
MAE_t = []
for t in range (0,20):
  #split variables
  X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.15, )

  
  ml_model = LGBMRegressor().fit(X_train,y_train)
  y_pred = ml_model.predict(X_test)
  MAE = round(mean_absolute_error(y_test, y_pred),2)
  MAE_t.append(MAE)
  MSE = round(mean_squared_error(y_test, y_pred),2)
  R2 = round(r2_score(y_test, y_pred),2)
  df_r=pd.DataFrame({"MAE":MAE,"MSE":MSE,"R2":R2},index=["results"]);
  print(df_r)


print(pd.DataFrame(MAE_t,columns=["MAE_ml"]).describe())
MAE_t

         MAE  MSE   R2
results 0.88 1.33 0.96
         MAE  MSE   R2
results 0.90 1.38 0.96
         MAE  MSE   R2
results 0.88 1.31 0.96
         MAE  MSE   R2
results 0.89 1.36 0.96
         MAE  MSE   R2
results 0.91 1.43 0.96
         MAE  MSE   R2
results 0.91 1.41 0.96
         MAE  MSE   R2
results 0.90 1.42 0.95
         MAE  MSE   R2
results 0.89 1.36 0.96
         MAE  MSE   R2
results 0.91 1.41 0.95
         MAE  MSE   R2
results 0.88 1.34 0.96
         MAE  MSE   R2
results 0.90 1.36 0.96
         MAE  MSE   R2
results 0.89 1.35 0.96
         MAE  MSE   R2
results 0.92 1.43 0.95
         MAE  MSE   R2
results 0.89 1.37 0.96
         MAE  MSE   R2
results 0.87 1.29 0.96
         MAE  MSE   R2
results 0.87 1.30 0.96
         MAE  MSE   R2
results 0.91 1.43 0.95
         MAE  MSE   R2
results 0.88 1.35 0.96
         MAE  MSE   R2
results 0.92 1.45 0.95
         MAE  MSE   R2
results 0.87 1.30 0.96
       MAE_ml
count   20.00
mean     0.89
std      0.02
min      0.87
25%      0.88
50%      0.89
75%      0.91
max      0.92

[0.88,
 0.9,
 0.88,
 0.89,
 0.91,
 0.91,
 0.9,
 0.89,
 0.91,
 0.88,
 0.9,
 0.89,
 0.92,
 0.89,
 0.87,
 0.87,
 0.91,
 0.88,
 0.92,
 0.87]

**Test ML algorithm with and without time features**

In [24]:
#Null Hypothesis H0 mean1=mean2

_,p_value=stats.ttest_ind(MAE_t,MAE_ml,equal_var= True)

print("p_value:",p_value)
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print("we are rejecting null hypothesis  H0 mean1=mean2")
else:
    print("we are accepting null hypothesis  H0 mean1=mean2")

p_value: 5.424781423476955e-16
we are rejecting null hypothesis  H0 mean1=mean2

**Save algorithm**

In [25]:
import pickle
from sklearn.pipeline import Pipeline

x_var = df_all1k.iloc[:,1:].columns
estimators = [('ml_model', ml_model)]
pipe = Pipeline(estimators)
print(pipe)
al_file={"x_var":x_var,"coor":coor,"pipe":pipe}
pickle.dump(al_file, open("temp_LEVX_1km_time_d1.al", 'wb'))

Pipeline(steps=[('ml_model', LGBMRegressor())])